/*Conteúdo geral da página*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-color: rgb(54, 54, 54);
    color: white;
    
}

/*Conteúdo do header*/

header div{
    min-height: 100px;
}

.cor1{
    background-color: rgb(43, 43, 43);
    
}

.cor2{
    background-color:rgb(43, 43, 43);
}

.cor3{
    background-color: rgb(43, 43, 43);
    
}

.lupa {
    background-color: rgb(54, 54, 54);
}

.categorias{
    font-size: small;
    background-color: rgb(43, 43, 43);
}

.atalhos{
    background-color:rgb(43, 43, 43);;
}

.atalhos .btn-secondary{
    text-align: center;
    font-size: small;
    background-color: #026874;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    
}

/*Conteudo do centro(main)*/

.conteudoCentro{
    min-height: 200px;
}
.pesquisa2{
    background-color: rgb(43, 43, 43);
    min-height: 200px;
    padding-top: 20px;
}

.pesquisa2 .mini-poster{
    padding-bottom: 20px;
}

.centro{
    background-color:rgb(50, 37, 126);
    width: 100%;
    
}
.acessados{
    background-color: rgb(43, 43, 43);
}

.carousel-imagens{
    margin: 20px;
}

.slide img{
    margin: 10px;
}

/* Favoritos */

.meusFav{
    font-size: x-large;
    background-color: rgb(43, 43, 43);
}

.inline3{
    margin-top: 20px;
    background-color: rgb(43, 43, 43);
}

.tituloDrop{
    margin-right: 20px;
}
.mostrar{
    margin-left: 30px;
}

.exibir{
    margin-left: 130px;
    
}

.list-unstyled{
    margin-top: 20px;
    background-color: rgb(43, 43, 43);
}

.pagination{
    margin-left: 0px;
    background-color: rgb(43, 43, 43);
}

.paginas{
    background-color: rgb(43, 43, 43);
    margin-top: 0px;
    padding-top: 170px ;
}

.mover1{
    margin-top: 20px;
}

.lixo1{
    margin-top: 10px;
}
.mover2{
    margin-top: 70px;
}

.lixo2{
    margin-top: 10px;
}
.mover3{
    margin-top: 70px;
}

.lixo3{
    margin-top: 10px;
}